$backgroundColorBlack: #181818;
$textBlack: #181818;
$backgroundColorWhite: #ffffff;
$backgroundCardItem: #f5f5f5;
$backgroundAlmostWhite: #f5f5f5;
$colorOrange: #ffaa4c;
$elementPurple: #954ced;
$textWhite: #ffffff;
$errorRed: #ec1211;
